@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 15% 23%;
    --foreground: 60 100% 100%;

    --muted: 40 15% 30%;
    --muted-foreground: 60 100% 100%;

    --popover: 40 15% 23%;
    --popover-foreground: 60 100% 100%;

    --card: 40 15% 23%;
    --card-foreground: 60 100% 100%;

    --border: 40 15% 30%;
    --input: 40 15% 30%;

    --primary: 231 15% 63%;
    --primary-foreground: 60 100% 100%;

    --secondary: 231 15% 63%;
    --secondary-foreground: 60 100% 100%;

    --accent: 231 15% 63%;
    --accent-foreground: 60 100% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 100% 100%;

    --ring: 231 15% 63%;

    --radius: 0.5rem;

    --vis-tooltip-background-color: none !important;
    --vis-tooltip-border-color: none !important;
    --vis-tooltip-text-color: none !important;
    --vis-tooltip-shadow-color: none !important;
    --vis-tooltip-backdrop-filter: none !important;
    --vis-tooltip-padding: none !important;

    --vis-primary-color: 231 15% 63%;
    --vis-secondary-color: 231 15% 63%;
    --vis-text-color: var(--muted-foreground);
  }

  .dark {
    --background: 231 15% 23%;
    --foreground: 60 100% 100%;

    --muted: 231 15% 30%;
    --muted-foreground: 60 100% 100%;

    --popover: 231 15% 23%;
    --popover-foreground: 60 100% 100%;

    --card: 231 15% 23%;
    --card-foreground: 60 100% 100%;

    --border: 231 15% 30%;
    --input: 231 15% 30%;

    --primary: 231 15% 63%;
    --primary-foreground: 60 100% 100%;

    --secondary: 231 15% 63%;
    --secondary-foreground: 60 100% 100%;

    --accent: 231 15% 63%;
    --accent-foreground: 60 100% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 100% 100%;

    --ring: 231 15% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
